*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4C4A59;
    color: #F2CDAC;
}
h1{
    text-align: center;
}
hr{
    margin-top: -10px;
    background-color:#F2CDAC;
    color: #F2CDAC;
}
button{
    background-color: #4CABA6;
    color: #F2CDAC;
    width: 80px;
    border-radius: 5px;
    border-color: #F2CDAC;
    cursor: pointer;
}
input{
    border-color: #F2CDAC;
    background-color: #4C4A59;
    color: #F2CDAC;
}
input::placeholder, textarea::placeholder{
    color: #F2CDAC;
}
textarea{
    border-color:#F2CDAC;
}
hr{
    width: 350px;
}
.formu{
    justify-self: center;
}
.base{
    border: 1px solid;
    width: 350px;
    color: #F2CDAC;
    justify-self: center;
    justify-items: center;
}
#con{
    border: 1px solid;
    width: 350px;
    color: #F2CDAC;
    justify-self: center;
    justify-items: center;
}
#btn{
    display:flex;
    width: 340px;
    margin-top: -10px;
    justify-content: space-between;
}
#btns{
    display:flex;
    width: 340px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}
#NomeT{
    width: 137px;
}
#Desc{
    background-color: #4C4A59;
    color: #F2CDAC;
}
#saida{
    width: 340px;
    display: flex;
    gap: 6px;
    margin-bottom: 10px;
}
